* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    background-color: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
}

.navbar {
    font-weight: bold;
    font-size: 18px;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover:not(.active) {
    color: grey;
}

.active {
    color: yellow;
}

.image1 {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: auto;
}

.header {
    text-align: left;
    padding: 5px 10px;
}

.btn {
    width: 246px;
    height: 70px;
    background-color: #fce82f;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    padding-top: 10px;
    background-color: black;
    grid-template-columns: auto auto;
}

.grid-item {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 20px;
    grid-gap: 2px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.img1 {
    position: absolute;
    width: 468px;
    height: 434.7px;
    left: 700px;
    top: 200px;
}

.img2 {
    position: absolute;
    width: 467px;
    height: 415px;
    left: 700.56px;
    top: 180px;
}

.img3 {
    position: absolute;
    left: 600px;
}

.img4 {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

.clearfix {
    overflow: auto;
}

.abttxt {
    display: inline-block;
    padding-left: 30px;
    margin-left: 30px;
}

.img5 {
    float: left;
    margin: 10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: center;
}

.flex-container>div {
    background-color: black;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.flex-container>div:hover {
    cursor: pointer;
}

.flex-container>div:active {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
}

.flex-container2 {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container2>div {
    background-color: black;
    margin: 10px;
    padding: 20px;
    align-items: baseline;
}

.flex-container3 {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container3>div {
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}

.input[type="text"] {
    height: 42px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    resize: none;
}