*,
 :after,
 :before {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    color: #000000d9;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.6;
}

.logo-container {
    margin-right: 7rem;
}

.navbar {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    padding: 15px 114px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    transition: ease-in-out .5s;
}

.dropdown {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 80px;
    width: 100%;
    background-color: #f7f7f7;
    height: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    transition: height .5s ease-in-out;
    transition-delay: .1s;
}

ul li {
    transition: .5s ease-in-out;
}

ul li:hover .dropdown {
    height: 400px;
}

.hoverborder:hover {
    padding-bottom: 2rem;
    border-bottom: 3px solid black;
    position: relative;
    z-index: 1;
}

.dropdown-container {
    width: 58%;
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

.cont {
    padding-bottom: 2rem;
    padding-top: 0;
    margin-bottom: 2rem;
    margin-top: 0;
    border-bottom: 2px solid #bebaba;
}

.navheader {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.navgrid {
    color: #1e4cf5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
}

.navgrid-text {
    color: #1e4cf5;
    opacity: .7;
    font-size: 14px;
}

.insight-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 16%;
    grid-gap: 40px;
    padding: 2rem;
}

.insight-image {
    position: relative;
}

.insight-overlay {
    position: absolute;
    background-color: #fff;
    bottom: 0px;
    width: 75%;
    padding: 1.2rem;
    min-height: 149px;
    max-height: 149px;
}

.insight-flex {
    display: flex;
    align-items: center;
}

.insight-overlaytitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.insight-overlaysubtitle {
    font-size: 14px;
    font-weight: 500;
    opacity: .6;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-insights {
    background-color: #efefef;
    color: #000000d9;
    padding: 16px 34px;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 25px;
}

.service-grid {
    display: grid;
    grid-template-columns: 23% 77%;
    grid-gap: 0px;
    padding: 7rem 7rem 7rem 10rem;
}

.service-navcontainer {
    border-left: 1px solid black;
    height: 23%;
    padding-left: 1rem;
    padding-right: 0;
}

.service-listcontainer {
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.service-navlink {
    font-size: 14px;
    margin: 0;
}

.active {
    padding-left: 1rem;
    color: #0054a6;
    font-weight: 700;
}

.header-container {
    background: url("https://eloquent-medovik-e4e6c6.netlify.app/Group\ 27506.312b8c1ae1184c9634a2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 429px;
    margin-bottom: 4rem;
}

.header-text {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-left: 160px;
}

.section-text {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 14px;
}

.section-list {
    list-style-type: disc;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 14px;
    margin-left: 2rem;
    margin-right: 0;
}

.section-card {
    margin: 4rem 0;
}

.section-grid {
    display: grid;
    grid-template-columns: 58% 40%;
    grid-gap: 18px;
}

.grid-text {
    padding-top: 3rem;
    padding-bottom: 0;
}

.grid-title {
    font-size: 14px;
    font-weight: 500;
    color: #0054a6;
    margin-top: 0;
    margin-bottom: 14px;
}

.grid-img {
    width: 100%;
}

.footer {
    padding: 59px 201px 49px 114px;
    background-color: #f8f8f8;
}

.footer-list {
    margin-top: 0;
    margin-bottom: 2rem;
}

.footer-company {
    margin-top: 0;
    margin-bottom: 2rem;
}

.footer-list>li {
    display: inline;
    padding: 0;
    list-style-type: none;
}

.footer-list>li {
    padding: 10px;
}

.footer-copyright {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    border-right: 1px solid #44444a;
    padding-right: 30px;
    width: 325.47px;
    list-style-type: none;
}

.footer-detail {
    display: inline;
    list-style-type: none;
    padding: 10px;
    font-size: 14px;
}

.comp-container {
    list-style-type: none;
    display: inline;
}

.footer-text {
    padding-left: 40px;
    padding-right: none;
    margin-top: 0;
    margin-bottom: 12px;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    color: #000000d9;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.6;
}

.logo-container {
    margin-right: 7rem;
}

.navbar {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    padding: 15px 114px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    transition: ease-in-out .5s;
}

.dropdown {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 80px;
    width: 100%;
    background-color: #f7f7f7;
    height: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    transition: height .5s ease-in-out;
    transition-delay: .1s;
}

ul li {
    transition: .5s ease-in-out;
}

ul li:hover .dropdown {
    height: 400px;
}

.hoverborder:hover {
    padding-bottom: 2rem;
    border-bottom: 3px solid black;
    position: relative;
    z-index: 1;
}

.dropdown-container {
    width: 58%;
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

.cont {
    padding-bottom: 2rem;
    padding-top: 0;
    margin-bottom: 2rem;
    margin-top: 0;
    border-bottom: 2px solid #bebaba;
}

.navheader {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.navgrid {
    color: #1e4cf5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
}

.navgrid-text {
    color: #1e4cf5;
    opacity: .7;
    font-size: 14px;
}

.insight-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 16%;
    grid-gap: 40px;
    padding: 2rem;
}

.insight-image {
    position: relative;
}

.insight-overlay {
    position: absolute;
    background-color: #fff;
    bottom: 0px;
    width: 75%;
    padding: 1.2rem;
    min-height: 149px;
    max-height: 149px;
}

.insight-flex {
    display: flex;
    align-items: center;
}

.insight-overlaytitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.insight-overlaysubtitle {
    font-size: 14px;
    font-weight: 500;
    opacity: .6;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-insights {
    background-color: #efefef;
    color: #000000d9;
    padding: 16px 34px;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 25px;
}

.service-grid {
    display: grid;
    grid-template-columns: 23% 77%;
    grid-gap: 0px;
    padding: 7rem 7rem 7rem 10rem;
}

.service-navcontainer {
    border-left: 1px solid black;
    height: 23%;
    padding-left: 1rem;
    padding-right: 0;
}

.service-listcontainer {
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.service-navlink {
    font-size: 14px;
    margin: 0;
}

.active {
    padding-left: 1rem;
    color: #0054a6;
    font-weight: 700;
}

.header-container {
    background: url("https://eloquent-medovik-e4e6c6.netlify.app/Group\ 27510.83a14e86a7afb50bffbd.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 429px;
    margin-bottom: 4rem;
}

.header-text {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-left: 160px;
}

.section-text {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 14px;
}

.section-list {
    list-style-type: disc;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 14px;
    margin-left: 2rem;
    margin-right: 0;
}

.section-card {
    margin: 4rem 0;
}

.section-grid {
    display: grid;
    grid-template-columns: 58% 40%;
    grid-gap: 18px;
}

.grid-text {
    padding-top: 3rem;
    padding-bottom: 0;
}

.grid-title {
    font-size: 14px;
    font-weight: 500;
    color: #0054a6;
    margin-top: 0;
    margin-bottom: 14px;
}

.grid-img {
    width: 100%;
}

.footer {
    padding: 59px 201px 49px 114px;
    background-color: #f8f8f8;
}

.footer-list {
    margin-top: 0;
    margin-bottom: 2rem;
}

.footer-company {
    margin-top: 0;
    margin-bottom: 2rem;
}

.footer-list>li {
    display: inline;
    padding: 0;
    list-style-type: none;
}

.footer-list>li {
    padding: 10px;
}

.footer-copyright {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    border-right: 1px solid #44444a;
    padding-right: 30px;
    width: 325.47px;
    list-style-type: none;
}

.footer-detail {
    display: inline;
    list-style-type: none;
    padding: 10px;
    font-size: 14px;
}

.comp-container {
    list-style-type: none;
    display: inline;
}

.footer-text {
    padding-left: 40px;
    padding-right: none;
    margin-top: 0;
    margin-bottom: 12px;
}